@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #111827;
}

::-webkit-scrollbar-thumb:hover {
    background: #a78bfa;
}

._close-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0rem;
}

._main-text {
    text-align: center;
}

._main-text_paragraph {
    margin-top: 1% !important;
    margin: auto;
    width: 40%;
}

@media (max-width: 768px) {
    ._close-icon {
        top: 60% !important;
    }
    ._sub-header {
        display: none;
    }
    ._main-text {
        text-align: left;
        padding: 2%;
    }
    ._main-text_paragraph {
        text-align: left;
        width: 100%;
        padding: 2%;
    }
    ._chart {
        display: none;
    }
    .four_zero_four_bg {
        width: 100% !important;
    }
}

.page_404 {
    height: 75vh;
    padding: 140px 0;
    margin: auto;
    background: #fff;
    font-family: 'Arvo', serif;
}

.page_404 img {
    width: 120% !important;
}

.four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    width: 650px;
    background-position: center;
}

.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
}

@media (max-width: 600px) {
    .hidden-sm {
        display: none;
    }
}